<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h2>
        <strong>{{meta.courseName}}</strong>
        <br />
        {{image.period}} - {{image.year}}
      </h2>
    </div>
  </div>
  <div class="col-xs-12">
    <img
      class="img-responsive center-block"
      src="{{image.url}}"
      alt="{{meta.courseName}} - {{image.period}} - {{image.year}}"
      title="{{meta.courseName}} - {{image.period}} - {{image.year}}"
    />
  </div>
</div>
