<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1 class="text-center"><strong>{{meta.courseName}}</strong>{{#if meta.year}} {{meta.year}}{{/if}}</h1>
		</div>
	</div>
	{{#each images as |image|}}
		<div class="col-md-4 col-sm-6">
			<div class="thumbnail">
				<a href="{{image.url}}" target="_blank">
					<span class="h4 col-xs-12 text-center">{{image.period}} {{image.year}}</span>
					<img class="img-responsive" src="{{image.url}}" alt="{{../meta.courseName}}-{{image.period}}-{{image.year}}" title="{{../meta.courseName}}-{{image.period}}-{{image.year}}">
				</a>
			</div>
		</div>
	{{/each}}
</div>
