<div class="container">
	{{> mainTitle}}
	<div class="well">
		<div class="input-group col-md-6 col-md-offset-3">
			<input type="text" id="courseFilterSearch" class="form-control input-lg" placeholder="Όνομα μαθήματος" autocomplete="off" />
			<span class="input-group-addon">
				<i class="fa fa-search"></i>
			</span>
		</div>
	</div>
	<div class="well">
		<div class="row text-center">
			{{#each semesters as |semester|}}
			<div class="semester col-xs-12">
				<h3 class="col-xs-12">{{semester.name}}</h3>
				{{#each semester.courses as |course|}}

				{{#ifGroupEveryOpen @index 3}}	<!-- opens a new row tag if needed -->
				<div class="row">
				{{/ifGroupEveryOpen}}
				
					<div class="course well col-sm-4" data-tags="{{course.searchStr}}">
						<div class="row">
							<div class="courseHeader col-xs-12">
								<span class="courseName">{{course.name}}</span>
								<div class="pull-right">
									<span class="badge">{{course.items}}</span>
									{{#if course.items}}
									<button class="btn btn-success yearListToggle">
										<i class="fa fa-caret-down" aria-hidden="true"></i>
									</button>
									{{else}}
									<button class="btn btn-default yearListToggle" >
										<i class="fa fa-caret-down" aria-hidden="true"></i>
									</button>
									{{/if}}
								</div>
							</div>
							<ul class="yearList initHidden col-xs-12 list-group">
							{{#each course.itemsForYear}}
								{{#if this}}
								<li class="list-group-item"><a href="/semester/{{semester.key}}/course/{{course.key}}/year/{{@key}}">{{@key}} <span class="badge">{{this}}</span></a></li>
								{{/if}}
							{{/each}}
							</ul>
						</div>
					</div>

				{{#ifGroupEveryClose @index 3}}	<!-- {{course.name}} closes the previous opened row tag if needed -->
				</div>
				{{/ifGroupEveryClose}}

				{{/each}}
			</div>
			{{/each}}
		</div>
	</div>
</div>
