<div class="container">
	{{#each images as |image|}}
		<div class="img-responsive">
			<h3>{{image.courseKey}}-{{image.year}}</h3>
			<img src="{{image.url}} alt="{{image.courseKey}}-{{image.year}}"  title="{{image.courseKey}}-{{image.year}}">
		</div>
	{{/each}}
</div>
