<div class="container">
	<ul class="breadcrumb">
		<li><a href="/analytics/list">Analytics</a></li>
		<li class="active">Search</li>
	</ul>
	<h1 class="text-center">Course search Analytics</h1>
	<hr>
	<div class="col-sm-12">
		<table class="table table-striped table-hover text-center">
			<thead>
				<tr class="text-center h4">
					<th class="text-center">#</th>
					<th class="text-center">Course</th>
					<th class="text-center">String</th>
					<th class="text-center">Duration(sec)</th>
					<th class="text-center">User</th>
					<th class="text-center">Date</th>
				</tr>
			</thead>
			<tbody>
			{{#each courseSearches as |item|}}
				<tr>
					<td>{{@index}}</td>
					<td>{{item.courseName}}</td>
					<td {{#if item.str}}class="success"{{/if}}>{{item.str}}</td>
					<td>{{item.duration}}</td>
					<td style="background: #{{last6FromMD5 item.fingerprint}};">{{last6FromMD5 item.fingerprint}}</td>
					<td title="{{getLocaleTimestampFromObjectId item._id}}">{{getDateFromObjectId item._id}}</td>
				</tr>
			{{/each}}
			</tbody>
		</table>
	</div>
</div>
